<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div id="settings" class="section">
        <h1></h1>
        <div class="config-item">
            <label>🌕Modo:⚫</label>
            <select id="themeSelect">
                <option value="light"> Modo Claro</option>
                <option value="dark">Modo Oscuro</option>
                
            </select>
        </div>

    </div>


</body>
</html>